<h2 class="">Template</h2>
<ul class="list-group mb-3">
  <li
    *ngFor="let item of templateItems"
    class="list-group-item"
    [routerLink]="item.path"
    style="cursor: pointer"
    routerLinkActive="active"
  >
    {{ item.text }}
  </li>
</ul>

<h2>Reactive</h2>
<ul class="list-group mb-3">
  <li
    *ngFor="let item of reactiveItems"
    class="list-group-item"
    [routerLink]="item.path"
    style="cursor: pointer"
    routerLinkActive="active"
  >
    {{ item.text }}
  </li>
</ul>

<h2>Validations</h2>
<ul class="list-group">
  <li
    *ngFor="let item of authMenu"
    class="list-group-item"
    [routerLink]="item.path"
    style="cursor: pointer"
    routerLinkActive="active"
  >
    {{ item.text }}
  </li>
</ul>
