<h3 class="p-3 border-bottom">Template: Switches</h3>

<div class="row">
  <div class="col">
    <form #switchForm="ngForm">
      <!-- Radio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label text-center fw-bold">
          Gender
        </label>
        <div class="col-sm-9">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="F"
              [(ngModel)]="person.gender"
              name="radioGender"
              id="radioFemale"
              required
            />
            <label class="form-check-label" for="radioFemale"> Female </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="M"
              [(ngModel)]="person.gender"
              name="radioGender"
              id="radioMale"
              required
            />
            <label class="form-check-label" for="radioMale"> Male </label>
          </div>
        </div>
      </div>

      <div class="mb-3 row flex align-items-center">
        <label class="col-sm-3 col-form-label text-center fw-bold">
          Get Notifications
        </label>
        <div class="col-sm-9">
          <div class="form-check form-switch mb-0">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="notificationSwitch"
              [(ngModel)]="person.notifications"
              name="notifications"
              checked
            />
          </div>
        </div>
      </div>

      <div class="mb-3 row flex align-items-center">
        <label class="col-sm-3 col-form-label text-center fw-bold">
          Terms and Conditions
        </label>
        <div class="col-sm-9">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="termsCondition"
              name="terms"
              [(ngModel)]="termsCondition"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-primary float-end"
            [disabled]="switchForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div>
  <h4>Values Form</h4>
  <pre>{{ switchForm.value | json }}</pre>

  <br />
  <h4>Valid</h4>
  <pre>{{ switchForm.valid }}</pre>
  <br />
  <pre></pre>
</div>
